name: Scorecards

on:
  branch_protection_rule:
  push:
    branches:
      - main
  schedule:
    - cron: '30 3 * * 1'
  workflow_dispatch:

permissions:
  actions: read
  contents: read
  security-events: write
  id-token: write

jobs:
  analysis:
    name: OpenSSF Scorecard
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Run OpenSSF Scorecard analysis
        uses: ossf/scorecard-action@v2.4.1
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload SARIF to code scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: scorecard-results
          path: results.sarif
          retention-days: 7
